.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #EAE9F5;
  text-decoration: none;
}

.contact__image {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}

.contact__text {
    font-family: "Roboto";
    font-size: 12px;
}